<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p th:text="${card.name}"></p>
<p th:text="${card.property}"></p>
<p th:text="${card.species}"></p>
<p th:text="${card.level}"></p>
<p th:text="${card.atk}"></p>
<p th:text="${card.def}"></p>


<br>
<a th:href= "@{http://www.google.co.kr/search?q={cardname}(cardname=${card.name})}"> <p th:text="카드검색" /></a>
<br>
<form th:action="@{/cardmodify/{cardname}(cardname=${card.name})}" method="post">
  <button type="submit">정보 수정</button>
</form>

<button th:onclick="'location.href=\'/cardlist\''" th:text="전체카드"></button>
<button th:onclick="'location.href=\'/small\''" th:text="스몰월드"></button>


</body>
</html>